

<!DOCTYPE html>
<html class="loading" lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Inventory Management System.">
    <meta name="keywords" content="Inventory Management System ">
    <meta name="author" content="Q.Links">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">

    <title style="float:right;font-size:30px;" class="font-large-1">Abdul Wahab Aryoub Wal Ltd</title>

    <link rel="stylesheet" type="text/css" href="~/app-assets/css/vendors.css">
    <link href="~/app-assets/vendors/css/toggle/switchery.css" rel="stylesheet" />

    <link href="~/app-assets/selects/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/extensions/fixedColumns.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/extensions/fixedHeader.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/extensions/colReorder.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/extensions/toastr.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/extensions/sweetalert.css">


    <link rel="stylesheet" type="text/css" href="~/app-assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/custom.css">

    <link href="~/app-assets/css/plugins/extensions/toastr.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-callout.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/extensions/toastr.css">

    <link href="~/assets/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

    <link href="~/css/LTRStyle.css" rel="stylesheet" />

</head>
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar"
      data-open="hover" data-menu="vertical-menu" data-col="2-columns">

    <!-- fixed-top-->

    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-dark  navbar-shadow " id="navColor">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item">
                        <a class="navbar-brand">
                            <h3 class="brand-text"> Abdul Wahab Ltd </h3>
                        </a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block" id="collapseNav"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
                    </ul>

                    <ul class="nav navbar-nav float-right">

                        @await Html.PartialAsync("_Culture")

                        @if (User.IsInRole("Admin Department"))
                        {
                            <li>
                                    <a asp-action="Dealing" asp-controller="HDealing" class="nav-link nav-link-label" style="margin-top:-9px;"><i class="font-large-1 ft-file-text" style="margin-left:10px;"></i></a>

                                </li>


                            <li>
                                <a title="Currency Rate" class="nav-link nav-link-label" onclick="assignRate()" data-toggle="modal" data-target="#bootstrapChangeCurrency" style="font-size:large">
                                    <i class="font-large-1 fa fa-balance-scale" style="margin-top:-8px;margin-left:10px;"></i>
                                </a>
                            </li>
                        }
                    <li >
                        <a title="Calculator" class="nav-link nav-link-label" data-target="#Calculator" data-toggle="modal" style="font-size:large">
                            <i class="font-large-1 fa fa-calculator" style="margin-top:-8px;margin-left:10px;"></i>
                        </a>
                    </li>
                        <li class="dropdown dropdown-notification nav-item">
                            <a class="nav-link nav-link-label" href="#" data-toggle="dropdown">
                                <i class="ficon ft-bell"></i>
                                <span class="badge badge-pill badge-default badge-danger badge-default badge-up" id="notificationCount">0</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="dropdown-menu-header">
                                    <h6 class="dropdown-header m-0">
                                        <span class="grey darken-2">Notification</span>
                                        <span class="notification-tag badge badge-default badge-danger float-right m-0"></span>
                                    </h6>
                                </li>
                                @* ////////////////////////////////// Newly Expired Items /////////////////////// *@

                                <li class="scrollable-container media-list" id="noteList">
                                    @if (User.IsInRole("Admin Department"))
                                    {
                                        <a href="/Item/NewlyExpired/" id="expiredNotification" class="d-none">
                                            <div class="media">
                                                <div class="media-left align-self-center"><i class="ft-alert-triangle icon-bg-circle bg-red bg-darken-3"></i></div>
                                                <div class="media-body">
                                                    <h6 class="media-heading red darken-3"><strong>Expired Items!</strong></h6>
                                                    <h7 class="notification-text text-muted"><strong id="expiredCount">0</strong> Items are expired for more details click here!</h7>

                                                </div>
                                            </div>
                                        </a>

                                        <a id="EmployeeSalaryToPay" class="d-none" asp-action="Employee" asp-controller="Employee">
                                            <div class="media">
                                                <div class="media-left align-self-center"><i class="ft-alert-triangle icon-bg-circle bg-blue bg-darken-3"></i></div>
                                                <div class="media-body">
                                                    <h6 class="media-heading blue darken-3"><strong>Employees Salary!</strong></h6>
                                                    <h7 class="notification-text  text-muted"><strong id="EmployeeSalaryCount">0</strong> Employees salary to be paid!</h7>

                                                </div>
                                            </div>
                                        </a>
                                        <div id="expiryDaysNote"></div>

                                        <div id="amountNote"></div>
                                        <div id="dealday"></div>
                                    }

                                    @* ////////////////  Active Notes ////////////////////// *@
                                    <a href="javascript:void(0)" onclick="LoadActiveNotes()" class="d-none" id="notesNotification" data-toggle="modal" data-target="#warning">
                                        <div class="media">
                                            <div class="media-left align-self-center"><i class="ft-edit-3 icon-bg-circle bg-cyan"></i></div>
                                            <div class="media-body">
                                                <h6 class="media-heading text-cyan darken-3"><strong>Notes!</strong></h6>
                                                <p class="notification-text @*font-small-3*@ text-muted"><strong id="notecount">0</strong> <label id="noteGreaterThenOne">Notes</label> to be check.</p>

                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="  nav-item">
                            <a class="nav-link nav-link-label" asp-controller="Employee" asp-action="Notes">
                                <i class="ft-edit-3 font-medium-3" style="margin-top:-10px;"></i>
                                <span class="badge badge-pill badge-default badge-warning badge-default badge-up">Notes</span>
                            </a>

                        </li>


                        @await Html.PartialAsync("_LoginPartial")
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!--Menu Start-->

    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow " style="background-image: url('/images/StaticImages/k.jpg');background-repeat:no-repeat;background-position:center;background-size:cover " data-scroll-to-active="false">
        <div class="main-menu-content box-shadow-3" id="mainDiv">
            <ul class="navigation navigation-main " id="sideMenu " style=" padding-top: 10px;" data-menu="menu-navigation">

                <li class=" border-top-0 has-sub">
                    @await Html.PartialAsync("_ClockPartial")
                </li>

                @if (User.IsInRole("HR Department") || User.IsInRole("Finance Department"))
                {
                    <li id="homeDashboard">
                        <a asp-action="Index" asp-controller="Home"> <i class="ft-home" style="margin-top:1px;"></i><span class="menu-title" data-i20n=""> <strong> Home Page</strong></span></a>
                    </li>
                }
                @if (User.IsInRole("Admin Department"))
                {
                    <li id="homeDashboard">
                        <a asp-action="dashboard" asp-controller="Home"> <i class="ft-home" style="margin-top:1px;"></i><span class="menu-title" data-i20n=""> <strong>  Home Page</strong></span></a>
                    </li>
                    <li id="roznamchaActive">
                        <a asp-action="Index" asp-controller="Deal"> <i class="fa fa-money" style="margin-top:1px;"></i><span class="menu-title" data-i20n=""> <strong> Journal</strong></span></a>
                    </li>
                }

                @if (User.IsInRole("Admin Department"))
                {
                    <li class="nav-item has-sub ">
                        <a href="#"><i class="ft-home menue"></i><span class="menu-title" data-i20n=""><strong> ‌Reports</strong></span><span class="badge badge badge-primary badge-pill float-right mr-2"></span></a>
                        <ul class="menu-content">


                            <li class="" id="generalReport">

                                <a class="menu-item" asp-controller="Home" asp-action="GeneralReport"> <i class="ft-bar-chart-2 " style="margin-top:9px;"></i> <strong> General Reprots </strong></a>

                            </li>
                            <li class="" id="expenseReport">
                                <a class="menu-item" asp-controller="ExpenseReport" asp-action="Index"><span class="" data-i20n=""><i class="ft-activity " style="margin-top:9px;"></i><strong>Expense Reports</strong></span></a>

                            </li>
                            <li id="financialreport">
                                <a class="menu-item" asp-controller="Item" asp-action="FinancialReport"><span class="" data-i20n=""><i class=" ft-bar-chart" style="margin-top:9px;"></i><strong>Financial Reports</strong></span></a>
                            </li>

                            <li id="salaryReport">

                                <a class="menu-item" asp-controller="ExpenseReport" asp-action="Salaries"><span class="" data-i20n=""><i class=" fa fa-money" style="margin-top:9px;"></i><strong>Salary Reports</strong></span></a>

                            </li>
                            <li id="benefitActivePage">
                                <a class="menu-item" asp-controller="Home" asp-action="Benefit"><span class="" data-i20n=""><i class="fa fa-money" style="margin-top:9px;"></i><strong> Income Reports </strong></span></a>
                            </li>

                        </ul>

                    </li>
                }

                @if (User.IsInRole("Admin Department") || User.IsInRole("Finance Department"))
                {
                    <li class="nav-item has-sub">
                        <a href="#"><i class="ft-save menue"></i><span class="menu-title" data-i20n=""><strong> ‌Save</strong></span><span class="badge badge badge-primary badge-pill float-right mr-2"></span></a>
                        <ul class="menu-content">
                            @if (User.IsInRole("Admin Department") || User.IsInRole("Finance Department"))
                            {
                                <li id="itemRegistration">
                                    <a class="menu-item" asp-controller="Item" asp-action="Index"><i class="ft-layout" style="margin-top:9px;"></i><span class="" data-i20n=""><strong> Items </strong></span></a>
                                </li>
                            }
                            @if (User.IsInRole("Admin Department"))
                            {
                                <li id="dealersPageActive">
                                    <a class="menu-item" asp-controller="Dealer" asp-action="Index"><i class="ft-users" style="margin-top:9px;"></i><span class="" data-i20n=""><strong> Dealers </strong></span></a>
                                </li>
                                <li id="employeeActive">
                                    <a class="menu-item" asp-controller="Employee" asp-action="Employee"><i class="ft-users" style="margin-top:8px;"></i><span class=""><strong> Employees</strong> </span></a>
                                </li>

                            }

                        </ul>

                    </li>

                }

                @if (User.IsInRole("Admin Department") || User.IsInRole("HR Department"))
                {
                    <li class="nav-item has-sub">
                        <a href="#">
                            <i class="ft-shopping-cart menue"></i><span class="menu-title" data-i20n=""><strong> ‌Sale</strong></span><span class="badge badge badge-primary badge-pill float-right mr-2"></span>
                        </a>
                        <ul class="menu-content">
                            @if (User.IsInRole("Admin Department") || User.IsInRole("HR Department"))
                            {

                                <li id="saleActive">
                                    <a asp-controller="Sale" asp-action="Index"><i class="ft-layout" style="margin-top:9px;"></i><span class="" data-i20n=""><strong> Sale Item </strong></span></a>
                                </li>

                                <li id="returnsaleActive">
                                    <a asp-controller="Sale" asp-action="ListOfReturnedSaled"><i class="ft-rotate-cw" style="margin-top:9px;"></i><span class="" data-i20n=""><strong> Returned Items  </strong></span></a>
                                </li>
                            }
                        </ul>
                    </li>
                }


                @if (User.IsInRole("Admin Department") || User.IsInRole("Finance Department"))
                {
                    <li class=" nav-item">
                        <a href="#">
                            <i class="ft-shopping-cart menue"></i><span class="menu-title" data-i20n=""><strong style="font-size:20px;">Purchase ‌</strong></span><span class="badge badge badge-primary badge-pill float-right mr-2"></span>
                        </a>
                        <ul class="menu-content">
                            @if (User.IsInRole("Admin Department") || User.IsInRole("Finance Department"))
                            {
                                <li id="purchaseActive">
                                    <a asp-controller="Purchase" asp-action="Index"><i class="ft-package" style="margin-top:9px;"></i><span class="" data-i20n=""><strong > Purchase </strong></span></a>

                                </li>
                                <li id="listOfActive">
                                    <a asp-controller="Purchase" asp-action="ListOfReturnedPurchase"><i class="ft-rotate-cw" style="margin-top:9px;"></i><span class="" data-i20n=""><strong > Returned Purchased </strong></span></a>
                                </li>
                            }
                        </ul>

                    </li>
                }

                @if (User.IsInRole("Admin Department") || User.IsInRole("Finance Department"))
                {
                    <li class=" nav-item">
                        <a href="#">
                            <i class="ft-chrome menue"></i><span class="menu-title" data-i20n=""><strong >Process ‌</strong></span><span class="badge badge badge-primary badge-pill float-right mr-2"></span>
                        </a>
                        <ul class="menu-content">
                            @if (User.IsInRole("Admin Department") || User.IsInRole("Finance Department"))
                            {
                                <li id="processActive">
                                    <a asp-controller="Process" asp-action="Index"><i class="ft-package" style="margin-top:9px;"></i><span class="" data-i20n=""><strong > Item Process </strong></span></a>

                                </li>
                            }
                        </ul>

                    </li>
                }

                @if (User.IsInRole("Admin Department"))
                {
                    <li class=" nav-item">
                        <a href="#">
                            <i class="ft-check-square menue"></i><span class="menu-title" data-i20n=""><strong> ‌Stock</strong></span><span class="badge badge badge-primary badge-pill float-right mr-2"></span>
                        </a>
                        <ul class="menu-content">
                            <li id="stockActiveMali">
                                <a asp-controller="Item" asp-action="RawStock"><i class="ft-package" style="margin-top:9px;"></i><span class="" data-i20n=""><strong>Raw Items  </strong></span></a>
                            </li>
                            <li id="stockActiveProcessed">
                                <a asp-controller="Item" asp-action="ProcessedStock"><i class="ft-package" style="margin-top:9px;"></i><span class="" data-i20n=""><strong> Processed Items </strong></span></a>
                            </li>
                        </ul>

                    </li>
                }

                @if (User.IsInRole("Admin Department"))
                {
                    <li class=" nav-item">
                        <a href="#">
                            <i class="fa fa-money menue"></i><span class="menu-title" data-i20n=""><strong> Expenses</strong></span><span class="badge badge badge-primary badge-pill float-right mr-2"></span>
                        </a>
                        <ul class="menu-content">
                            <li id="expenseActive">
                                <a class="menu-item" asp-controller="Expense" asp-action="Expense"><i class="fa fa-money" style="margin-top:9px;"></i><span class="" data-i20n=""><strong>Add Expenses </strong> </span></a>
                            </li>
                        </ul>

                    </li>
                }

                @if (User.IsInRole("Admin Department"))
                {
                    <li class=" nav-item">
                        <a href="#">
                            <i class="ft-file-text menue"></i><span class="menu-title" data-i20n=""><strong> ‌Dealings</strong></span><span class="badge badge badge-primary badge-pill float-right mr-2"></span>
                        </a>
                        <ul class="menu-content">

                            <li id="dealerDealActive">
                                <a asp-controller="Deal" asp-action="DealerDeal"><i class="ft-layout" style="margin-top:9px;"></i><span class="" data-i20n=""><strong> Dealers </strong></span></a>

                            </li>
                            <li id="customerDealActive">
                                <a asp-controller="Deal" asp-action="CustomerDeal"><i class="ft-layout" style="margin-top:9px;"></i><span class="" data-i20n=""><strong> Customers </strong></span></a>

                            </li>

                            <li id="dtriDealActive">
                                <a asp-controller="Deal" asp-action="DTRIDeal"><i class="ft-layout" style="margin-top:9px;"></i><span class="" data-i20n=""><strong> D T R I </strong></span></a>

                            </li>

                            <li id="remainOnUsDealer">
                                <a asp-controller="Deal" asp-action="RemainFromDealerList"><i class="ft-users" style="margin-top:9px;"></i><span class="" data-i20n=""><strong> Dealers List </strong></span></a>

                            </li>
                            <li id="remainOnCustomers">
                                <a asp-controller="Deal" asp-action="RemainOnCustomerList"><i class="ft-users" style="margin-top:9px;"></i><span class="" data-i20n=""><strong> Customers List </strong></span></a>

                            </li>
                        </ul>

                    </li>
                }

                @if (User.IsInRole("Admin Department"))
                {
                    <li class=" nav-item">
                            <a href="#">
                                <i class="ft-users menue"></i><span class="menu-title" data-i20n=""><strong style="font-size:20px;"> ‌Investment</strong></span><span class="badge badge badge-primary badge-pill float-right mr-2"></span>
                            </a>
                            <ul class="menu-content">
                                <li id="investorActive">
                                    <a asp-controller="Investment" asp-action="Investor"><i class="ft-user-plus" style="margin-top:9px;"></i><span class="" data-i20n=""><strong > Registration </strong></span></a>

                                </li>
                                <li id="addInvestmentActive">
                                    <a asp-controller="Investment" asp-action="AddInvestment"><i class="ft-plus-circle" style="margin-top:9px;"></i><span class="" data-i20n=""><strong >  Invest  </strong></span></a>

                                </li>
                                <li id="benifitOfAllTimeActive">
                                    <a asp-controller="Investment" asp-action="Benifit"><i class="ft-trending-up" style="margin-top:9px;"></i><span class="" data-i20n=""><strong > General </strong></span></a>

                                </li>
                            </ul>

                        </li>
                }
                @if (User.IsInRole("Admin Department"))
                {

                    <li class="nav-item has-sub ">
                        <a href="#"><i class="fa fa-user-o"></i><span class="menu-title" data-i20n=""><strong > Admin</strong> </span><span class="badge badge badge-primary badge-pill float-right mr-2"></span></a>

                        <ul class="menu-content">

                            <li id="registerActive">
                                <a class="menu-item" asp-controller="Account" asp-action="Register"><i class="ft-lock" style="margin-top:8px;"></i><strong > Account </strong> </a>

                            </li>
                            <li id="backActive">
                                <a class="menu-item" asp-controller="Backup" asp-action="Index"><i class="ft-shield" style="margin-top:8px;"></i><strong > Back up  </strong> </a>

                            </li>
                            <li id="saveDockActive">
                                <a class="menu-item" asp-controller="Account" asp-action="SaveDocuments"><i class="ft-file-text" style="margin-top:8px;"></i><strong > Docuements  </strong> </a>

                            </li>
                        </ul>
                    </li>
                }
                <li class="">
                    <a asp-controller="Home" asp-action="About"><i class="ft-airplay" style="margin-top:8px;"></i><span class="menu-title" data-i20n=""><strong style="font-size:20px;">  Q.Links </strong> </span></a>

                </li>
            </ul>
        </div>
    </div>

    <!--Menu End-->
    <!--Body Start-->

    <div class="app-content content" style="padding:5px;">
        @RenderBody()
    </div>

    <!--Body Endt-->
    <!--Footer Start-->

    <footer class="footer footer-static footer-light navbar-border">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">
                Copyright &copy; 2021 <a class="text-bold-800 grey darken-2" href="https://www.facebook.com/104885307946888"
                                         target="_blank">Q.Links ICT Solutions</a>, All rights reserved.
            </span>
            <span class="float-md-right d-block d-md-inline-block d-none d-lg-block">ْQ.Links <i class="fa fa-database pink"></i></span>
        </p>
    </footer>

    <!--Footer End-->
    <div class="modal fade text-left" id="currency" tabindex="-1" style="padding:0px;margin:0px;" role="dialog" aria-labelledby="myModalLabel10"
         aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content" style="background-color:transparent;border:0px;">
                <div class="modal-body ">
                    <style>
                        #total {
                            width: 100%;
                            height: 100%;
                            min-width: 300px;
                            max-width: 640px;
                            margin: 0 auto;
                            position: relative;
                            overflow: hidden;
                        }

                        .calc {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;
                            background-color: whitesmoke;
                            overflow: hidden;
                        }

                        main {
                            width: 100%;
                            height: 100%;
                        }

                            main ul {
                                list-style: none;
                                padding: 0;
                                margin-top: 0;
                                width: 100%;
                                height: 100%;
                                cursor: pointer;
                            }

                                main ul li {
                                    width: 20%;
                                    height: 20%;
                                    font-size: 22px;
                                    float: left;
                                    color: darkslategrey;
                                    text-align: center;
                                    border-left: 1px solid rgb(185,185,185);
                                    border-top: 1px solid rgb(185,185,185);
                                    box-sizing: border-box;
                                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                                }

                                main ul input {
                                    width: 100%;
                                    height: 40%;
                                    padding: 30px;
                                    font-size: 42px;
                                    float: left;
                                    text-align: right;
                                    border-left: 1px solid #000;
                                    border-top: 1px solid #000;
                                    box-sizing: border-box;
                                    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
                                }

                                main ul li:nth-child(5n-3) {
                                    background-color: gainsboro;
                                }

                                main ul li:nth-child(3) {
                                    background-color: gainsboro;
                                }

                                main ul li:nth-child(4) {
                                    background-color: gainsboro;
                                }

                                main ul li:nth-child(5) {
                                    background-color: gainsboro;
                                }

                                main ul li:nth-child(6) {
                                    background-color: gold;
                                }

                                main ul li:nth-last-child(1) {
                                    background-color: darkorange;
                                    color: #fff;
                                    width: 40%;
                                }

                                main ul li:nth-last-child(2) {
                                    color: orangered;
                                    width: 40%;
                                }

                                main ul li[id='disable'] {
                                    cursor: default;
                                    color: lightgray;
                                    text-shadow: 0 0 0;
                                }

                                /*使用伪元素使文字居中*/

                                main ul li:before {
                                    display: inline-block;
                                    content: "";
                                    height: 100%;
                                    vertical-align: middle;
                                }

                        #calc main ul li:active {
                            background-color: darkgray;
                        }

                        #calc main ul li[id='=']:active {
                            background-color: rgb(219,107,6);
                        }

                        #calc main ul li[id='←']:active {
                            background-color: goldenrod;
                        }

                        #calc main ul li[id='disable']:active {
                            background-color: gainsboro;
                        }
                    </style>
                    <div id="total" style="border:1px solid;border-radius:1%;">
                        <div class="calc" id="calc">
                            <button data-dismiss="modal" style="margin-top:-4px;" class="close left"><span class="fa fa-close"></span></button>
                            <main>
                                <ul id="list" style="height:400px;">
                                    <input type="text" name="result" id="ans" readonly="readonly" style="margin-top:-15px;" />
                                    <li id="2nd" onclick="getnum()">2nd</li>
                                    <li id="sin" onclick="getnum()">sin</li>
                                    <li id="cos" onclick="getnum()">cos</li>
                                    <li id="tan" onclick="getnum()">tan</li>
                                    <li id="←" onclick="getnum()">←</li>
                                    <li id="mode" onclick="getnum()">deg</li>
                                    <li id="lg" onclick="getnum()">lg</li>
                                    <li id="ln" onclick="getnum()">ln</li>
                                    <li id="×" onclick="getnum()">×</li>
                                    <li id="÷" onclick="getnum()">÷</li>
                                    <li id="^" onclick="getnum()">^</li>
                                    <li id="1" onclick="getnum()">1</li>
                                    <li id="2" onclick="getnum()">2</li>
                                    <li id="3" onclick="getnum()">3</li>
                                    <li id="+" onclick="getnum()">+</li>
                                    <li id="√" onclick="getnum()">√</li>
                                    <li id="4" onclick="getnum()">4</li>
                                    <li id="5" onclick="getnum()">5</li>
                                    <li id="6" onclick="getnum()">6</li>
                                    <li id="-" onclick="getnum()">-</li>
                                    <li id="!" onclick="getnum()">!</li>
                                    <li id="7" onclick="getnum()">7</li>
                                    <li id="8" onclick="getnum()">8</li>
                                    <li id="9" onclick="getnum()">9</li>
                                    <li id="(" onclick="getnum()">(</li>
                                    <li id="π" onclick="getnum()">π</li>
                                    <li id="%" onclick="getnum()">%</li>
                                    <li id="0" onclick="getnum()">0</li>
                                    <li id="." onclick="getnum()">.</li>
                                    <li id=")" onclick="getnum()">)</li>
                                    <li id="e" onclick="getnum()">e</li>
                                    <li id="clear" onclick="getnum()">AC</li>
                                    <li id="=" onclick="getnum()">=</li>
                                </ul>
                            </main>
                        </div>
                    </div>
                    <script src="~/calculator1/Calculate Core.js"></script>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal note -->
    <div class="modal fade text-left" id="warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel12"><i class="ft-edit-3"></i>&nbsp;&nbsp;Notes</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="">
                        <table class="table  table-bordered dataex-fixh-basic dataTable" id="tblActiveNotes">
                            <thead>
                                <tr role="row">
                                    <th>No</th>
                                    <th>Note</th>
                                    <th>Remember Date</th>
                                </tr>
                            </thead>
                            <tbody id="tblNotesBody"></tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Currency Exchange -->
    <div class="modal fade text-left " id="bootstrapChangeCurrency" tabindex="-1" role="dialog" aria-labelledby="myModalLabel35"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header col-md-12 row" style="margin:auto">
                    <div class="float-left">
                        <h3 class="modal-title" id="myModalLabel35"><label id="lblrating" style="color:whitesmoke">Currency Exchange</label></h3>
                    </div>
                    <div class="float-right">
                        <button class="btn btn-success" onclick="changeMode()" id="btnrate">Today's Rate</button>
                    </div>

                </div>
                <div class="modal-body">
                    <div class="" id="rating" style="display:none ;padding:15px">
                        <fieldset class="form-group floating-label-form-group">
                            <label for="total">AF - US</label>
                            <input type="text" onkeyup="hideAfghaniError()" class="form-control" id="txtafghanirate" placeholder="Afghani - Dollar!!">
                            <div class="" id="afghanierror" style="display:none">
                                <span for="txtafghanirate" class="text-danger">Field is required</span>
                            </div>
                        </fieldset>
                        <fieldset class="form-group floating-label-form-group">
                            <div class="form-group">
                                <label class="">AF - PKR</label>
                                <input id="txtdollerrate" onkeyup="hideDollerError()" placeholder="Afghani - Pakistani rupee" class="form-control" />
                                <div id="dollererror" style="display:none">
                                    <span for="txtdollerrate" class="text-danger">Field is required</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group floating-label-form-group">
                            <div class="form-group">
                                <label class="">PKR - US</label>
                                <input id="txtruperate" onkeyup="hideRupeError()" placeholder="Pakistani Rupee - Dollar" class="form-control" />
                                <div class="" id="rupeerror" style="display:none">
                                    <label class="text-danger">Field is required</label>
                                </div>
                            </div>
                        </fieldset>
                        <div class="text-center">
                            <label class="text-success text-bold-500 d-none" id="lblrateSaved" style="font-size:x-large">Exchange rates saved</label>
                        </div>
                    </div>
                    <div class="" id="exchanging" style=" padding:15px">
                        <fieldset class="form-group floating-label-form-group">
                            <div class="form-group">
                                <label class="">PK Rupee:</label>
                                <input onkeyup="rupeExchange()" id="txtrupeamount" placeholder="Amount in PK Rupee!!" class="form-control" />
                            </div>
                        </fieldset>
                        <fieldset class="form-group floating-label-form-group">
                            <label for="total">Afghani</label>
                            <input type="text" onkeyup="afghaniExchange()" class="form-control " id="txtafghaniamount" placeholder="Amount in Afghani!!">
                        </fieldset>
                        <fieldset class="form-group floating-label-form-group">
                            <div class="form-group">
                                <label class="">Dollar:</label>
                                <input onkeyup="dollerExchange()" id="txtdolleramount" placeholder="Amount in Dollar!!" class="form-control" />
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="Close">
                    <input type="submit" onclick="addRate()" class="btn btn-outline-primary d-none" id="btnsaveRate" value="Save">
                </div>

            </div>
        </div>

    </div>


    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager


    @inject IAuthorizationService authorize

    @if (!(await authorize.AuthorizeAsync(User, "ViewRolePolicy")).Succeeded)
    {


        @*@await Html.PartialAsync("AccessDeniedPartial.cshtml")*@

        <script>
            $(".user-view").addClass("d-none");
            $(".user-insert").addClass("d-none");
            $(".user-delete").addClass("d-none");
            $(".user-edit").addClass("d-none");
        </script>
    }

    @if ((await authorize.AuthorizeAsync(User, "ViewRolePolicy")).Succeeded)
    {

        <script>
            $(".user-view").removeClass("d-none");
            $(".user-insert").addClass("d-none");
            $(".user-delete").addClass("d-none");
            $(".user-edit").addClass("d-none");
        </script>

    }

    @if ((await authorize.AuthorizeAsync(User, "InsertRolePolicy")).Succeeded)
    {

        <script>
            $(".user-view").removeClass("d-none");
            $(".user-insert").removeClass("d-none");
            $(".user-delete").addClass("d-none");
            $(".user-edit").addClass("d-none");
        </script>

    }

    @if ((await authorize.AuthorizeAsync(User, "EditRolePolicy")).Succeeded)
    {
        <script>
            $(".user-view").removeClass("d-none");
            $(".user-insert").removeClass("d-none");
            $(".user-delete").removeClass("d-none");
            $(".user-edit").addClass("d-none");
        </script>

    }

    @if ((await authorize.AuthorizeAsync(User, "DeleteRolePolicy")).Succeeded)
    {
        <script>
            $(".user-view").removeClass("d-none");
            $(".user-insert").removeClass("d-none");
            $(".user-delete").removeClass("d-none");
            $(".user-edit").removeClass("d-none");
        </script>
    }

    <script src="~/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>

    <script src="~/app-assets/vendors/js/toggle/bootstrap-checkbox.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/toggle/switchery.min.js" type="text/javascript"></script>

    <script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/dataTables.fixedColumns.min.js"
            type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"
            type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/dataTables.colReorder.min.js"
            type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js"
            type="text/javascript"></script>

    <script src="~/app-assets/vendors/js/extensions/toastr.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/app-assets/select/select2.full.js"></script>

    <script src="~/app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="~/app-assets/js/core/app.js" type="text/javascript"></script>
    <script src="~/app-assets/js/scripts/customizer.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/toggle/switch.js" type="text/javascript"></script>

    <script src="~/app-assets/js/scripts/datatable-advanced.js"></script>
    <script src="~/app-assets/js/scripts/extensions/toastr.js" type="text/javascript"></script>
    <script src="~/app-assets/js/scripts/extensions/sweet-alerts.js" type="text/javascript"></script>
    <script src="~/app-assets/select/select2.js"></script>
    <script src="~/js/printThis.js"></script>
    <script src="~/js/jquery.scannerdetection.js"></script>
    <script src="~/js/Functions.js"></script>
    @if (User.IsInRole("Admin Department"))
    {
        <script>
            $(document).ready(function () {
                //CheckForExpiry();
                LoadEmployeesSalary();
                //ShowDayWiseExpiry();
                //ShowItemQuantity();
                //DealerDay();
            })
        </script>
    }
    <script>
        $(document).ready(function () {
            activeNoteCount();
            $(".modal-header").addClass("bg-info white")
        })


        function activeNoteCount() {
            $.ajax({
                url: "/Employee/countActiveNotes/",
                type: "POST",
                contentType: "application/json",
                data: '{}',
                datatype: "JSON",
                success: function (result) {

                    if (result == 1) {
                          $("#noteGreaterThenOne").text("Note");
                        $("#notecount").text(result);
                    }
                    else {
                        $("#notecount").text(result);
                    }

                    if (result > 0) {
                        $("#notesNotification").removeClass("d-none");
                        notCount += 1;
                        $("#notificationCount").text(notCount);
                    }
                },
                error: function (err) {
                    console.log(err);
                },
                complete: function () {

                }

            })
            localStorage.getItem("navColor");
        }

        function LoadActiveNotes() {
            $.ajax({
                url: "/Employee/LoadActiveNotes/",
                type: "POST",
                contentType: "application/json",
                data: '{}',
                datatype: "JSON",
                success: function (result) {
                    var tr = "";
                    $.each(result, function (i, col) {
                        tr += '<tr  role="row">' +
                            '<td >' + (i + 1) + '</td>' +
                            '<td >' + col.note + '</td>' +
                            '<td>' + col.targetDate + '</td>' +
                            '</tr>';
                    })
                    var table = $("#tblActiveNotes").dataTable();
                    table.fnDestroy();
                    $("#tblNotesBody").html('').html(tr);
                    $("#tblActiveNotes").DataTable({
                        stateSave: true,
                        "lengthMenu": [[5, 10, 20, -1], [5, 15, 50, "All"]],
                        "pageLength": 5,
                    });
                },
                error: function (err) {
                    console.log(err);
                },
            })
        }

        function changeMode() {
            $("#lblrateSaved").addClass("d-none");
            if ($("#btnrate").text() == "Add Rate") {
                $("#exchanging").hide();
                $("#rating").show(500);
                $("#btnrate").text("Currency Exchage")
                $("#lblrating").text("Add Rate")
                $("#btnsaveRate").removeClass("d-none");
            }
            else {
                $("#rating").hide();
                $("#exchanging").show(500);
                $("#btnrate").text("Add Rate")
                $("#lblrating").text("Currency Exchange")
                $("#btnsaveRate").addClass("d-none");

            }


        }

    </script>
    @RenderSection("Scripts", false)
</body>
</html>
